# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo

# Virtual environments
venv/
env/
ENV/

# PyInstaller
build/
dist/
*.spec

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Arquivos Excel (evitar commitar dados de teste)
*.xlsx
*.xls

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
